*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #DDA0DD;
    text-align: center;
}



.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
#one-score, #two-score{
    font-size: 2rem;
}

.con{
    display: flex;
    align-items: center;
}
.con1{
    margin-right: 30vh;
    margin-left: 30vh;
}

#update{
    margin-top: 1vh;
    padding: 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: rgb(0, 0, 0);
}

#name-form{
    display: flex;
    flex-direction: column;
    max-width: 20vh;
}

.container{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 2rem;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    font-size: 7.5vh;
    color: #BA363C;
    background-color: #fff;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #36BAB4;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #36BAB4;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg, #your-turn{
    height: 1.25vh;
    color: rgb(12, 54, 54);
    font-size: 5vh;
}
.msg-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}
@media(max-width: 500px){
    .con{
        flex-direction: column;
    }
    .con1{
        margin: auto;
        margin-top: 4vh;
    }
    .container{
        height: 45vh;
    }
    .game{
        height: 40vh;
        width: 40vh;
    }
    .box{
        height: 12vh;
        width: 12vh;
    }
    #new-game{
        margin-top: 35px;
    }
    #your-turn{
        font-size: 3vh;
    }
}
