*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #DDA0DD;
    text-align: center;
}

.score{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 2rem;
    font-size: 1.5rem;
}
#nida-score, #soha-score{
    font-size: 2rem;
}

.container{
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    margin-top: 2rem;
}

.game{
    height: 40vh;
    width: 40vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vh;
}

.box{
    height: 12vh;
    width: 12vh;
    border-radius: 1rem;
    border: none;
    font-size: 7.5vh;
    color: #BA363C;
    background-color: #fff;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #36BAB4;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#new-game{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #36BAB4;
    color: #fff;
    border-radius: 1rem;
    border: none;
}

#msg, #your-turn{
    height: 1.25rem;
    margin: auto;
    color: rgb(12, 54, 54);
    font-size: 1rem;
}

.hide{
    display: none;
}